@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: inherit;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.bg-primary {
  background-color: rgb(31 164 91);
}

.text-primary {
  color: rgb(31 164 91);
}

.drop-shadow-primary {
  filter: drop-shadow(0 10px 14px rgba(31, 164, 91, .15));
}


.border-primary{
  border-color: rgb(31 164 91);
}

.stroke-mute-grey {
  stroke: #7e7e7e;
}

.rounded-t-2lg {
  border-top-left-radius: .625rem;
  border-top-right-radius: .625rem;
}

.rounded-2lg {
  border-radius: .625rem;
}


.scrl-cat {
  overflow-y: auto;
  overflow-x: none;
  scrollbar-width: thin;
}


.text-2xs {
  font-size: .8125rem;
}




@media (min-width: 220px) {
  .container {
    max-width: 220px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 1640px) {
  .container {
    max-width: 1640px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
